In [212]:
%%markdown
# The Latte Line of Sydney
## 1. Problem statement
### What is the Latte Line
Major cities around the world demonstrate a diversity in neighbourhoods in terms of lifestyle, income, social status and ethnic background of people, low- and high density areas, and so on.
In developed countries neighbourhoods are usually mixed based on the above criteria: ideally there are no ghettoes and no exclusive upperclass areas, however, the difference between disctricts can be quite apparent.
In case of Sydney people are talking about a 'latte line' which divides the city to 2 parts, the prosperous North-East and the less attractive South-West. 
As the 'latte line' name suggests, this distinction - while could have been established on hard statistical facts, such as property prices, average income, university addmission rate of high school students - is based on observed or assumed difference of life style.

Can we support or debunk the 'latte line' theory with the help of data science?

# The Latte Line of Sydney
## 1. Problem statement
### What is the Latte Line
Major cities around the world demonstrate a diversity in neighbourhoods in terms of lifestyle, income, social status and ethnic background of people, low- and high density areas, and so on.
In developed countries neighbourhoods are usually mixed based on the above criteria: ideally there are no ghettoes and no exclusive upperclass areas, however, the difference between disctricts can be quite apparent.
In case of Sydney people are talking about a 'latte line' which divides the city to 2 parts, the prosperous North-East and the less attractive South-West.
As the 'latte line' name suggests, this distinction - while could have been established on hard statistical facts, such as property prices, average income, university addmission rate of high school students - is based on observed or assumed difference of life style.

Can we support or debunk the 'latte line' theory with the help of data science?

In [306]:
%%markdown
## 2. Use of data to evaluate the 'latte line'
The following data sets would come handy:
1. A list of neighborhoods of Sydney
2. Population size of neighbourhoods
3. Foursquare API with venues

For practical reasons the list of neighborhoods will be taken from the Australian Bureau of Statistics, since we can get population size (number of residents) at the same granularity.
Neighbourhoods are going to be assigned with their lat/log coordinates.
Neighbourhoods will be labeled on which side they are of the latte line. For the geographical identification of the latte line we use a report of the Australian national news agency, abc.com.au:
https://www.abc.net.au/news/2019-12-17/sydneys-latte-line-divides-job-and-housing-opportunities/11803706

Foursquare API will be used to fetch venues for the analysed geographical areas.
Since in this particular case life style is the subject of analysis the number of venues will be harmonised on population density: venue count * 1000 / (residents / sqms).

The goal of the analysis is building a model to predict if a neighbourhood based on the life style represented by venues belongs to the up or down side of the latte line with at least 75% accuracy.

Setting the accuracy treshold is arbitrary. While we cannot expect foursquare data to make a deinite distinction between latte/non-latte regions, if it is closer to 50% than 100% we may question whether the latte line model reflect a difference in life style.

## 2. Use of data to evaluate the 'latte line'
The following data sets would come handy:
1. A list of neighborhoods of Sydney
2. Population size of neighbourhoods
3. Foursquare API with venues

For practical reasons the list of neighborhoods will be taken from the Australian Bureau of Statistics, since we can get population size (number of residents) at the same granularity.
Neighbourhoods are going to be assigned with their lat/log coordinates.
Neighbourhoods will be labeled on which side they are of the latte line. For the geographical identification of the latte line we use a report of the Australian national news agency, abc.com.au:
https://www.abc.net.au/news/2019-12-17/sydneys-latte-line-divides-job-and-housing-opportunities/11803706

Foursquare API will be used to fetch venues for the analysed geographical areas.
Since in this particular case life style is the subject of analysis the number of venues will be harmonised on population density: venue count * 1000 / (residents / sqms).

The goal of the analysis is building a model to predict if a neighbourhood based on the life style represented by venues belongs to the up or down side of the latte line with at least 75% accuracy.

Setting the accuracy treshold is arbitrary. While we cannot expect foursquare data to make a deinite distinction between latte/non-latte regions, if it is closer to 50% than 100% we may question whether the latte line model reflect a difference in life style.

In [214]:
%%markdown
# 3. Defining the latte line
Using the link in the previous section we can identify the suggested location of the theoretical straight line.
Note: a map is a 2D projection of a 3D planet, thus using lat/long coordinates and linear regression is methodoligically not entirely correct. However, considering the arbitrariness of the latte line, this error does not impact the success of labeling.
    
SW: -34.001321, 151.235472
    
NE: -33.627029, 150.662457
    
Using y = ax + b with both data pair would give us the value of a and b

-34.001321 = a * 151.235472 + b

-33.627029 = a * 150.662457 + b

-34.001321 + -33.627029 = a * (151.235472 - 150.662457)

# 3. Defining the latte line
Using the link in the previous section we can identify the suggested location of the theoretical straight line.
Note: a map is a 2D projection of a 3D planet, thus using lat/long coordinates and linear regression is methodoligically not entirely correct. However, considering the arbitrariness of the latte line, this error does not impact the success of labeling.

SW: -34.001321, 151.235472

NE: -33.627029, 150.662457

Using y = ax + b with both data pair would give us the value of a and b

-34.001321 = a * 151.235472 + b

-33.627029 = a * 150.662457 + b

-34.001321 + -33.627029 = a * (151.235472 - 150.662457)

In [215]:
left = -34.001321 - (-33.627029)
right = 151.235472 - 150.662457
a = left/right
print("Value of a:")
print(a)
b1 = -34.001321 - (a * 151.235472)
b2 = -33.627029 - (a * 150.662457)
if b1 != b2:
    print("Calculation error")
    end
print("Value of b:")
print(b1)

Value of a:
-0.6531975602732882
Value of b:
64.7853203371792

In [216]:
%%markdown
Now we can evaluate the neighbourhoods, if lat >= a * long + b then the suburb is above or on the latte line, otherwise below.

Checking with Bankstown and Castle Hill, using approximate lat/long values

Bankstown: -33.916168, 151.033490 #should be below the line, thus false

Castle Hill: -33.729117, 151.005955 #should be above the line, thus true

Now we can evaluate the neighbourhoods, if lat >= a * long + b then the suburb is above or on the latte line, otherwise below.

Checking with Bankstown and Castle Hill, using approximate lat/long values

Bankstown: -33.916168, 151.033490 #should be below the line, thus false

Castle Hill: -33.729117, 151.005955 #should be above the line, thus true

In [217]:
def getLatte(lat, long):
    a = -0.6531975602732882
    b = 64.7853203371792
    if (lat >= a * long + b):
        return True
    else:
        return False

In [218]:
Bankstown = getLatte(-33.916168, 151.033490)
Bankstown

False

In [219]:
Castle_Hill = getLatte(-33.729117, 151.005955)
Castle_Hill

True

In [220]:
%%markdown
Our geographical latte labeling function is verified.

Next: neighbourhood and population data from the Australian Statistical Bureau, 2016 census (abs.gov.au)
1. Population data of New South Wales on suburb level
2. Suburb dictionary

These are downloaded from the ABS data centre and imported to the platform manully.

The list of suburbs is from an excel file downloaded from the NSW goverment's website.

Our geographical latte labeling function is verified.

Next: neighbourhood and population data from the Australian Statistical Bureau, 2016 census (abs.gov.au)
1. Population data of New South Wales on suburb level
2. Suburb dictionary

These are downloaded from the ABS data centre and imported to the platform manully.

The list of suburbs is from an excel file downloaded from the NSW goverment's website.

In [221]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_5063675a2a854501868f895828b10fa6 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='TMKJGv8rz7ULqah55iF4nPj9Xcn4Y1nh-MzUTlCImNXS',
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_5063675a2a854501868f895828b10fa6.get_object(Bucket='cloudera8-donotdelete-pr-650f7celdtersp',Key='census-population.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,SSC_CODE_2016,Tot_P_M,Tot_P_F,Tot_P_P,Age_0_4_yr_M,Age_0_4_yr_F,Age_0_4_yr_P,Age_5_14_yr_M,Age_5_14_yr_F,Age_5_14_yr_P,...,High_yr_schl_comp_Yr_8_belw_P,High_yr_schl_comp_D_n_g_sch_M,High_yr_schl_comp_D_n_g_sch_F,High_yr_schl_comp_D_n_g_sch_P,Count_psns_occ_priv_dwgs_M,Count_psns_occ_priv_dwgs_F,Count_psns_occ_priv_dwgs_P,Count_Persons_other_dwgs_M,Count_Persons_other_dwgs_F,Count_Persons_other_dwgs_P
0,SSC10001,12,12,22,0,0,0,0,0,0,...,0,0,0,0,9,6,21,0,3,4
1,SSC10002,2076,2177,4253,108,109,214,258,277,537,...,195,28,43,69,2034,2141,4175,44,37,79
2,SSC10003,2542,2838,5373,156,149,306,268,261,529,...,217,10,23,36,2338,2625,4962,164,184,355
3,SSC10004,535,579,1109,30,26,58,95,123,222,...,26,0,0,0,506,554,1056,15,17,38
4,SSC10005,13,7,22,0,0,0,0,0,0,...,0,0,0,0,13,9,24,0,0,0

In [222]:

body = client_5063675a2a854501868f895828b10fa6.get_object(Bucket='cloudera8-donotdelete-pr-650f7celdtersp',Key='ssc_codes.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

,ASGS_Structure,Census_Code_2016,ASGS_Code_2016,Census_Name_2016,Area sqkm
0,AUS,036,36,AUSTRALIA,7.688126e+06
1,CED,CED101,101,Banks,4.944600e+01
2,CED,CED102,102,Barton,3.964660e+01
3,CED,CED103,103,Bennelong,5.860520e+01
4,CED,CED104,104,Berowra,7.496359e+02

In [223]:
%%markdown
Let's get rid of the data we do not need for the analysis

Let's get rid of the data we do not need for the analysis

In [224]:
df_pop = df_data_1[['SSC_CODE_2016','Tot_P_M']]
df_pop.head()

  SSC_CODE_2016  Tot_P_M
0      SSC10001       12
1      SSC10002     2076
2      SSC10003     2542
3      SSC10004      535
4      SSC10005       13

In [225]:
df_sub_dict = df_data_2[['Census_Code_2016', 'Census_Name_2016',  'Area sqkm']]
df_sub_dict.head()

  Census_Code_2016 Census_Name_2016     Area sqkm
0              036        AUSTRALIA  7.688126e+06
1           CED101            Banks  4.944600e+01
2           CED102           Barton  3.964660e+01
3           CED103        Bennelong  5.860520e+01
4           CED104          Berowra  7.496359e+02

In [226]:
%%markdown
Let's assign suburb names from the dictionary to the suburb dataframe. We can assume every code should have a value in dictionary, thus 'inner join' is appropriate. Note, if some suburbs get lost, our analysis will be still valid.

Let's assign suburb names from the dictionary to the suburb dataframe. We can assume every code should have a value in dictionary, thus 'inner join' is appropriate. Note, if some suburbs get lost, our analysis will be still valid.

In [227]:
df_suburbs = df_pop.join(df_sub_dict.set_index('Census_Code_2016'), on='SSC_CODE_2016', how='inner')
df_suburbs.head()

  SSC_CODE_2016  Tot_P_M   Census_Name_2016  Area sqkm
0      SSC10001       12        Aarons Pass    82.7639
1      SSC10002     2076         Abbotsbury     4.9788
2      SSC10003     2542   Abbotsford (NSW)     1.0180
3      SSC10004      535        Abercrombie     2.9775
4      SSC10005       13  Abercrombie River   127.1701

In [228]:
%%markdown
Let's remove (NSW)

Let's remove (NSW)

In [229]:
for i in range(0, len(df_suburbs)):
    nsw_index = df_suburbs.iloc[i][2].find('(NSW)')
    if nsw_index > -1:
        df_suburbs.loc[i, 'Census_Name_2016'] = (df_suburbs.iloc[i][2])[0:nsw_index]

In [230]:
%%markdown
Let's check further parentheses

Let's check further parentheses

In [231]:
df_suburbs[df_suburbs['Census_Name_2016'].str.contains("\(")]

,SSC_CODE_2016,Tot_P_M,Census_Name_2016,Area sqkm
33,SSC10034,44,Alison (Central Coast - NSW),1.3958
34,SSC10035,43,Alison (Dungog - NSW),19.2707
122,SSC10123,28,Back Creek (Bland - NSW),449.7950
123,SSC10124,9,Back Creek (Gwydir - NSW),119.9514
124,SSC10125,13,Back Creek (Mid-Coast - NSW),31.5289
125,SSC10126,3,Back Creek (Queanbeyan-Palerang Regional - NSW),39.2653
126,SSC10127,8,Back Creek (Tenterfield - NSW),200.7410
127,SSC10128,9,Back Creek (Tweed - NSW),7.4364
138,SSC10139,22,Bakers Creek (Mid-Coast - NSW),40.4685
139,SSC10140,7,Bakers Creek (Nambucca - NSW),57.2165
140,SSC10141,8,Bakers Creek (Uralla - NSW),161.5919
165,SSC10166,371,Balmoral (Lake Macquarie - NSW),0.8572
166,SSC10167,220,Balmoral (Wingecarribee - NSW),26.3216
217,SSC10218,83,Barry (Blayney - NSW),37.2701
218,SSC10219,3,Barry (Upper Hunter Shire - NSW),96.6486
381,SSC10382,24,Black Creek (Port Macquarie-Hastings - NSW),55.3912
382,SSC10383,7,Black Creek (Snowy Valleys - NSW),10.9800
423,SSC10424,66,Boat Harbour (Lismore - NSW),7.1588
424,SSC10425,478,Boat Harbour (Port Stephens - NSW),2.1582
578,SSC10579,61,Broadwater (Bega Valley - NSW),5.3080
579,SSC10580,339,Broadwater (Richmond Valley - NSW),57.7556
696,SSC10697,388,Burra (Queanbeyan-Palerang Regional - NSW),98.9515
697,SSC10698,28,Burra (Snowy Valleys - NSW),94.7846
737,SSC10738,41,Cabbage Tree Island (Ballina - NSW),0.5415
738,SSC10739,3,Cabbage Tree Island (Mid-Coast - NSW),2.1519
828,SSC10829,11,Carrington (Mid-Coast - NSW),3.4788
829,SSC10830,980,Carrington (Newcastle - NSW),2.0392
867,SSC10868,12,Cedar Creek (Cessnock - NSW),107.4273
868,SSC10869,10,Cedar Creek (Tweed - NSW),6.2158
981,SSC10982,3,Colo (Bathurst Regional - NSW),60.8173
...,...,...,...,...
3668,SSC13669,29,Stony Creek (Mid-Western Regional - NSW),21.9953
3685,SSC13686,25,Summer Hill (Dungog - NSW),44.9921
3686,SSC13687,3553,Summer Hill (Inner West - NSW),1.2031
3703,SSC13704,165,Swan Bay (Port Stephens - NSW),31.6397
3704,SSC13705,113,Swan Bay (Richmond Valley - NSW),38.5055
3820,SSC13821,0,The Gap (Richmond Valley - NSW),47.5164
3821,SSC13822,30,The Gap (Wagga Wagga - NSW),145.9724
3838,SSC13839,33,The Rocks (Bathurst Regional - NSW),40.4326
3839,SSC13840,429,The Rocks (Sydney - NSW),0.2042
3919,SSC13920,77,Torryburn (Dungog - NSW),22.2129
3920,SSC13921,18,Torryburn (Uralla - NSW),150.0934
4177,SSC14178,0,Washpool (Clarence Valley - NSW),129.6325
4178,SSC14179,20,Washpool (Mid-Coast - NSW),8.7744
4257,SSC14258,0,Westdale (Snowy Valleys - NSW),27.5149
4258,SSC14259,1358,Westdale (Tamworth Regional - NSW),51.9639
4305,SSC14306,42,Willow Vale (Kiama - NSW),6.7508
4306,SSC14307,366,Willow Vale (Wingecarribee - NSW),1.2867
4345,SSC14346,0,Wog Wog (Bega Valley - NSW),60.4085
4346,SSC14347,12,Wog Wog (Queanbeyan-Palerang Regional - NSW),72.2617
4378,SSC14379,393,Woodburn (Richmond Valley - NSW),44.7968
4379,SSC14380,26,Woodburn (Shoalhaven - NSW),34.9534
4386,SSC14387,34,Woodlands (Eurobodalla - NSW),7.3332
4387,SSC14388,147,Woodlands (Wingecarribee - NSW),60.1258
4393,SSC14394,364,Woodstock (Cowra - NSW),419.3482
4394,SSC14395,21,Woodstock (Inverell - NSW),83.0428
4395,SSC14396,129,Woodstock (Shoalhaven - NSW),19.5936
4479,SSC14480,3,Yarras (Bathurst Regional - NSW),13.4096
4480,SSC14481,31,Yarras (Port Macquarie-Hastings - NSW),76.6314
4501,SSC14502,517,Yellow Rock (Blue Mountains - NSW),18.8096
4502,SSC14503,106,Yellow Rock (Shellharbour - NSW),18.3781

In [232]:
%%markdown
There are still some values. Now the difference is made between NSW regions. 
Considerations: if we remove these added remarks, we may create false mathces to Sydney suburbs.
If we leave the remarks, we may lose some of the suburbs. False matches would be worse since they can distort the observed population.
Thus let's leave it as is.

Move on with fetching the suburb list.

There are still some values. Now the difference is made between NSW regions.
Considerations: if we remove these added remarks, we may create false mathces to Sydney suburbs.
If we leave the remarks, we may lose some of the suburbs. False matches would be worse since they can distort the observed population.
Thus let's leave it as is.

Move on with fetching the suburb list.

In [233]:

body = client_5063675a2a854501868f895828b10fa6.get_object(Bucket='cloudera8-donotdelete-pr-650f7celdtersp',Key='suburb-list.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_3 = pd.read_csv(body)
df_data_3.head()

           Suburb
0      Abbotsbury
1      Abbotsford
2  Acacia Gardens
3     Agnes Banks
4           Airds

In [234]:
%%markdown
Let's merge with the statistical bureau data, and check the size again

Let's merge with the statistical bureau data, and check the size again

In [235]:
df_sydney_suburbs = df_data_3.join(df_suburbs.set_index('Census_Name_2016'), on='Suburb', how='inner')
df_sydney_suburbs.head()

           Suburb SSC_CODE_2016  Tot_P_M  Area sqkm
0      Abbotsbury      SSC10002     2076     4.9788
2  Acacia Gardens      SSC10014     1898     1.0013
3     Agnes Banks      SSC10021      472    15.4750
4           Airds      SSC10022     1333     2.3808
5      Alexandria      SSC10030     4214     3.5156

In [236]:
df_sydney_suburbs = df_sydney_suburbs.dropna()
df_sydney_suburbs.reset_index(drop=True)

                  Suburb SSC_CODE_2016  Tot_P_M  Area sqkm
0             Abbotsbury      SSC10002     2076     4.9788
1         Acacia Gardens      SSC10014     1898     1.0013
2            Agnes Banks      SSC10021      472    15.4750
3                  Airds      SSC10022     1333     2.3808
4             Alexandria      SSC10030     4214     3.5156
5          Alfords Point      SSC10031     1524     2.5665
6       Allambie Heights      SSC10036     3404     6.6746
7                Allawah      SSC10038     2857     0.5837
8              Ambarvale      SSC10049     3598     2.8822
9             Annangrove      SSC10062      724    10.2464
10             Arncliffe      SSC10086     5307     2.9429
11          Arndell Park      SSC10087       28     2.0008
12              Artarmon      SSC10090     4654     2.5348
13               Ashbury      SSC10093     1654     1.0312
14              Ashcroft      SSC10097     1753     1.1539
15               Asquith      SSC10103     1621     3.5017
16             Austinmer      SSC10108     1241     3.3382
17               Austral      SSC10109     1523    17.6607
18          Avalon Beach      SSC10111     4830     5.1313
19        Badgerys Creek      SSC10132      111    26.9810
20             Balgowlah      SSC10153     3827     1.9590
21     Balgowlah Heights      SSC10154     1625     1.6838
22               Balmain      SSC10164     5019     1.5378
23          Balmain East      SSC10165      952     0.3430
24               Banksia      SSC10178     1674     0.9568
25           Banksmeadow      SSC10179       10     3.5881
26             Bankstown      SSC10180    15831     6.3927
27   Bankstown Aerodrome      SSC10181        0     3.7302
28            Barangaroo      SSC10191      104     0.2227
29          Barden Ridge      SSC10193     2135     5.5991
..                   ...           ...      ...        ...
501   West Pennant Hills      SSC14249     8080     9.2916
502          West Pymble      SSC14250     2573     3.6836
503            West Ryde      SSC14251     6536     3.5660
504            Westleigh      SSC14260     2188     3.8210
505             Westmead      SSC14261     8224     2.9448
506       Wetherill Park      SSC14264     3035    11.2143
507               Whalan      SSC14266     2877     2.4294
508          Whale Beach      SSC14267      120     0.4973
509      Wheeler Heights      SSC14268     1432     0.8520
510           Wiley Park      SSC14293     5342     1.3622
511              Willmot      SSC14302     1165     0.9148
512      Willoughby East      SSC14304      919     0.5612
513        Windsor Downs      SSC14326      625     7.5757
514        Winston Hills      SSC14335     5655     4.7387
515       Wisemans Ferry      SSC14344      103    13.4673
516          Wolli Creek      SSC14353     3239     0.6614
517       Wollstonecraft      SSC14359     3855     1.2007
518             Wombarra      SSC14363      426     1.6260
519             Woodpark      SSC14390      754     0.3866
520            Woollahra      SSC14404     3370     1.2307
521        Woolloomooloo      SSC14406     2275     0.3722
522           Woolooware      SSC14410     1934     1.8599
523             Woolwich      SSC14412      383     0.6987
524             Woronora      SSC14420     1116     1.8813
525     Woronora Heights      SSC14422     1419     2.5994
526              Yagoona      SSC14453     8999     4.6180
527          Yarrawarrah      SSC14485     1334     1.2438
528              Yennora      SSC14506      804     2.7387
529            Yowie Bay      SSC14519     1497     1.2045
530              Zetland      SSC14524     5027     0.8048

[531 rows x 4 columns]

In [237]:
%%markdown
Working on the environment for further steps

Working on the environment for further steps

In [238]:
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')


# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans
import json # library to handle JSON files
print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Solving environment: done

# All requested packages already installed.

Folium installed
Libraries imported.

In [239]:
%%markdown
Let's define a geolocator function

Let's define a geolocator function

In [240]:
def geo_suburb(address):
    try:
        geolocator = Nominatim(user_agent="new_app")
        location = geolocator.geocode(address)
        #if location is None :
        #    return 0, 0
        return location.latitude, location.longitude
    except:
        geo_suburb(address)

In [241]:
%%markdown
Let's add latitude and longitude columns to the dataframe, and check

Let's add latitude and longitude columns to the dataframe, and check

In [242]:
df_sydney_suburbs['lat'] = "0"
df_sydney_suburbs['long'] = "0"
df_sydney_suburbs.head()

           Suburb SSC_CODE_2016  Tot_P_M  Area sqkm lat long
0      Abbotsbury      SSC10002     2076     4.9788   0    0
2  Acacia Gardens      SSC10014     1898     1.0013   0    0
3     Agnes Banks      SSC10021      472    15.4750   0    0
4           Airds      SSC10022     1333     2.3808   0    0
5      Alexandria      SSC10030     4214     3.5156   0    0

In [243]:
df_sydney_suburbs.tail()

          Suburb SSC_CODE_2016  Tot_P_M  Area sqkm lat long
664      Yagoona      SSC14453     8999     4.6180   0    0
665  Yarrawarrah      SSC14485     1334     1.2438   0    0
666      Yennora      SSC14506      804     2.7387   0    0
667    Yowie Bay      SSC14519     1497     1.2045   0    0
668      Zetland      SSC14524     5027     0.8048   0    0

In [244]:
#del df_sydney_suburbs['latte']
#df_sydney_suburbs = df_sydney_suburbs.dropna()
#df_sydney_suburbs.reset_index(drop=True)

In [246]:
for i in range(0, len(df_sydney_suburbs)):
    print(df_sydney_suburbs.iat[i, 0])
    if (float(df_sydney_suburbs.iat[i, 4]) == 0):
        print("in update")
        longitude = 0
        attempt =0
        while (longitude == 0):
            if (attempt > 0 and attempt%50==0):
                print("50 repeat for " + df_sydney_suburbs.iat[i, 0])
            #coords = None
            #while (coords is None):
            latitude, longitude = geo_suburb(df_sydney_suburbs.iat[i, 0] + ", Australia")
            #latitude, longitude = coords
            #print(latitude)
            df_sydney_suburbs.iat[i, 0]
            #print("before:" + str(df_sydney_suburbs.iat[i, 3]))
            df_sydney_suburbs.iat[i, 4] = latitude
            #print("after:" + str(df_sydney_suburbs.iat[i, 3]))
            df_sydney_suburbs.iat[i, 5] = longitude
            attempt += 1
            if (attempt == 100):
                break
print("Loop ended")

Abbotsbury
in update
Acacia Gardens
in update
Agnes Banks
in update
Airds
in update
Alexandria
in update
Alfords Point
in update
Allambie Heights
in update
Allawah
in update
Ambarvale
in update
Annangrove
in update
Arncliffe
in update
Arndell Park
in update
Artarmon
in update
Ashbury
in update
Ashcroft
in update
Asquith
in update
Austinmer
in update
Austral
in update
Avalon Beach
in update
Badgerys Creek
in update
Balgowlah
in update
Balgowlah Heights
in update
Balmain
in update
Balmain East
in update
Banksia
in update
Banksmeadow
in update
Bankstown
in update
Bankstown Aerodrome
in update
Barangaroo
in update
Barden Ridge
in update
Bardia
in update
Bardwell Park
in update
Bardwell Valley
in update
Bass Hill
in update
Baulkham Hills
in update
Beacon Hill
in update
Beaumont Hills
in update
Beecroft
in update
Belfield
in update
Bella Vista
in update
Bellevue Hill
in update
Belmore
in update
Belrose
in update
Berala
in update
Berkshire Park
in update
Berowra
in update
Berowra Creek
in update
Berowra Heights
in update
Berowra Waters
in update
Berrilee
in update
Beverley Park
in update
Beverly Hills
in update
Bexley
in update
Bexley North
in update
Bilgola Beach
in update
Bilgola Plateau
in update
Birchgrove
in update
Birrong
in update
Blackett
in update
Blacktown
in update
Blairmount
in update
Blakehurst
in update
Bligh Park
in update
Bondi
in update
Bondi Beach
in update
Bondi Junction
in update
Bonnet Bay
in update
Bonnyrigg
in update
Bonnyrigg Heights
in update
Bossley Park
in update
Botany
in update
Bow Bowing
in update
Breakfast Point
in update
Bringelly
in update
Bronte
in update
Brookvale
in update
Bundeena
in update
Bungarribee
in update
Burraneer
in update
Burwood Heights
in update
Busby
in update
Cabramatta
in update
Cabramatta West
in update
Caddens
in update
Cambridge Gardens
in update
Cambridge Park
in update
Camellia
in update
Cammeray
in update
Campsie
in update
Canada Bay
in update
Canley Heights
in update
Canley Vale
in update
Canoelands
in update
Caringbah
in update
Caringbah South
in update
Carlingford
in update
Carnes Hill
in update
Carss Park
in update
Cartwright
in update
Castle Cove
in update
Castlecrag
in update
Castlereagh
in update
Casula
in update
Catherine Field
in update
Cattai
in update
Cecil Hills
in update
Cecil Park
in update
Chatswood
in update
Chatswood West
in update
Cherrybrook
in update
Chester Hill
in update
Chippendale
in update
Chipping Norton
in update
Chiswick
in update
Chullora
in update
Church Point
in update
Claremont Meadows
in update
Clareville
in update
Claymore
in update
Clemton Park
in update
Clovelly
in update
Coalcliff
in update
Coasters Retreat
in update
Cobbitty
in update
Colebee
in update
Coledale
in update
Collaroy Plateau
in update
Colyton
in update
Concord
in update
Concord West
in update
Condell Park
in update
Connells Point
in update
Constitution Hill
in update
Cottage Point
in update
Cowan
in update
Cranebrook
in update
Cremorne Point
in update
Cronulla
in update
Curl Curl
in update
Currans Hill
in update
Daceyville
in update
Dangar Island
in update
Darkes Forest
in update
Darling Point
in update
Darlinghurst
in update
Davidson
in update
Dawes Point
in update
Dean Park
in update
Dee Why
in update
Denham Court
in update
Denistone
in update
Denistone East
in update
Denistone West
in update
Dharruk
in update
Dolans Bay
in update
Dolls Point
in update
Doonside
in update
Double Bay
in update
Dover Heights
in update
Drummoyne
in update
Duffys Forest
in update
Dulwich Hill
in update
Dundas Valley
in update
Eagle Vale
in update
Earlwood
in update
East Hills
in update
East Killara
in update
East Lindfield
in update
East Ryde
in update
Eastern Creek
in update
Eastgardens
in update
Eastlakes
in update
Edensor Park
in update
Edgecliff
in update
Edmondson Park
in update
Elanora Heights
in update
Elizabeth Bay
in update
Elizabeth Hills
in update
Elvina Bay
in update
Emerton
in update
Engadine
in update
Englorie Park
in update
Ermington
in update
Erskine Park
in update
Erskineville
in update
Eschol Park
in update
Eveleigh
in update
Fairfield East
in update
Fairfield Heights
in update
Fairfield West
in update
Fairlight
in update
Fiddletown
in update
Five Dock
in update
Forest Lodge
in update
Frenchs Forest
in update
Galston
in update
Georges Hall
in update
Gilead
in update
Gladesville
in update
Gledswood Hills
in update
Glen Alpine
in update
Glendenning
in update
Glenhaven
in update
Glenmore Park
in update
Glenorie
in update
Grays Point
in update
Great Mackerel Beach
in update
Greenacre
in update
Greenfield Park
in update
Greenhills Beach
in update
Greenwich
in update
Gregory Hills
in update
Greystanes
in update
Guildford West
in update
Gymea
in update
Gymea Bay
in update
Haberfield
in update
Hammondville
in update
Harrington Park
in update
Harris Park
in update
Hassall Grove
in update
Haymarket
in update
Hebersham
in update
Heckenberg
in update
Helensburgh
in update
Henley
in update
Hillsdale
in update
Holroyd
in update
Holsworthy
in update
Homebush West
in update
Horningsea Park
in update
Hornsby
in update
Hornsby Heights
in update
Horsley Park
in update
Hoxton Park
in update
Hunters Hill
in update
Huntingwood
in update
Huntleys Cove
in update
Huntleys Point
in update
Hurlstone Park
in update
Hurstville
in update
Hurstville Grove
in update
Illawong
in update
Ingleburn
in update
Ingleside
in update
Jamisontown
in update
Jannali
in update
Jordan Springs
in update
Kareela
in update
Kearns
in update
Kellyville
in update
Kellyville Ridge
in update
Kemps Creek
in update
Kenthurst
in update
Kentlyn
in update
Killarney Heights
in update
Kings Langley
in update
Kingsgrove
in update
Kirkham
in update
Kirrawee
in update
Kirribilli
in update
Kogarah
in update
Kogarah Bay
in update
Ku-Ring-Gai Chase
in update
Kurnell
in update
Kurraba Point
in update
Kyeemagh
in update
Kyle Bay
in update
La Perouse
in update
Lakemba
in update
Lalor Park
in update
Lane Cove
in update
Lane Cove North
in update
Lane Cove West
in update
Lansvale
in update
Laughtondale
in update
Lavender Bay
in update
Leets Vale
in update
Len Waters Estate
in update
Leppington
in update
Lethbridge Park
in update
Leumeah
in update
Liberty Grove
in update
Lidcombe
in update
Lilyfield
in update
Lindfield
in update
Linley Point
in update
Little Bay
in update
Liverpool
in update
Llandilo
in update
Loftus
in update
Longueville
in update
Lovett Bay
in update
Lower Portland
in update
Lucas Heights
in update
Luddenham
in update
Lugarno
in update
Lurnea
in update
Macquarie Fields
in update
Macquarie Links
in update
Macquarie Park
in update
Maddens Plains
in update
Maianbar
in update
Malabar
in update
Manly Vale
in update
Maraylya
in update
Marayong
in update
Maroota
in update
Maroubra
in update
Marrickville
in update
Marsden Park
in update
Marsfield
in update
Mascot
in update
Matraville
in update
Mays Hill
in update
McGraths Hill
in update
McMahons Point
in update
Menai
in update
Menangle Park
in update
Merrylands
in update
Merrylands West
in update
Middle Cove
in update
Middle Dural
in update
Middleton Grange
in update
Miller
in update
Millers Point
in update
Milperra
in update
Milsons Passage
in update
Milsons Point
in update
Minchinbury
in update
Minto
in update
Minto Heights
in update
Mona Vale
in update
Monterey
in update
Moore Park
in update
Moorebank
in update
Morning Bay
in update
Mortdale
in update
Mosman
in update
Mount Annan
in update
Mount Colah
in update
Mount Druitt
in update
Mount Kuring-Gai
in update
Mount Lewis
in update
Mount Pritchard
in update
Mount Vernon
in update
Mulgoa
in update
Narellan
in update
Narellan Vale
in update
Naremburn
in update
Narrabeen
in update
Narraweena
in update
Narwee
in update
Neutral Bay
in update
Normanhurst
in update
North Balgowlah
in update
North Bondi
in update
North Curl Curl
in update
North Epping
in update
North Manly
in update
North Narrabeen
in update
North Parramatta
in update
North Rocks
in update
North Ryde
in update
North St Marys
in update
North Strathfield
in update
North Sydney
in update
North Turramurra
in update
North Wahroonga
in update
North Willoughby
in update
Northmead
in update
Oakville
in update
Oatley
in update
Old Guildford
in update
Old Toongabbie
in update
Oran Park
in update
Orchard Hills
in update
Otford
in update
Oxford Falls
in update
Oxley Park
in update
Oyster Bay
in update
Padstow
in update
Padstow Heights
in update
Pagewood
in update
Panania
in update
Parklea
in update
Parramatta
in update
Peakhurst
in update
Peakhurst Heights
in update
Pemulwuy
in update
Pendle Hill
in update
Pennant Hills
in update
Penrith
in update
Petersham
in update
Phillip Bay
in update
Picnic Point
in update
Pitt Town
in update
Pleasure Point
in update
Point Piper
in update
Port Botany
in update
Port Hacking
in update
Potts Hill
in update
Potts Point
in update
Prairiewood
in update
Prestons
in update
Putney
in update
Pymble
in update
Pyrmont
in update
Quakers Hill
in update
Raby
in update
Ramsgate
in update
Ramsgate Beach
in update
Randwick
in update
Redfern
in update
Regentville
in update
Revesby
in update
Revesby Heights
in update
Rhodes
in update
Riverstone
in update
Riverwood
in update
Rockdale
in update
Rodd Point
in update
Rooty Hill
in update
Ropes Crossing
in update
Roselands
in update
Rosemeadow
in update
Roseville
in update
Roseville Chase
in update
Rouse Hill
in update
Royal National Park
in update
Rozelle
in update
Ruse
in update
Rushcutters Bay
in update
Russell Lea
in update
Rydalmere
in update
Ryde
in update
Sackville North
in update
Sadleir
in update
Sans Souci
in update
Schofields
in update
Scotland Island
in update
Sefton
in update
Shalvey
in update
Shanes Park
in update
Singletons Mill
in update
Smeaton Grange
in update
South Coogee
in update
South Granville
in update
South Hurstville
in update
South Maroota
in update
South Penrith
in update
South Turramurra
in update
South Wentworthville
in update
South Windsor
in update
St Helens Park
in update
St Ives Chase
in update
St Johns Park
in update
Stanhope Gardens
in update
Stanwell Park
in update
Stanwell Tops
in update
Strathfield South
in update
Surry Hills
in update
Sydney
in update
Sydney Olympic Park
in update
Sylvania
in update
Sylvania Waters
in update
Tamarama
in update
Taren Point
in update
Telopea
in update
Tempe
in update
Tennyson Point
in update
Terrey Hills
in update
The Ponds
in update
Thirroul
in update
Thornleigh
in update
Tregear
in update
Turramurra
in update
Turrella
in update
Ultimo
in update
Varroville
in update
Vaucluse
in update
Villawood
in update
Vineyard
in update
Voyager Point
in update
Wahroonga
in update
Waitara
in update
Wakeley
in update
Wallacia
in update
Wareemba
in update
Warrawee
in update
Warriewood
in update
Warwick Farm
in update
Waterfall
in update
Watsons Bay
in update
Waverton
in update
Wentworth Point
in update
Wentworthville
in update
Werrington
in update
Werrington County
in update
Werrington Downs
in update
West Hoxton
in update
West Pennant Hills
in update
West Pymble
in update
West Ryde
in update
Westleigh
in update
Westmead
in update
Wetherill Park
in update
Whalan
in update
Whale Beach
in update
Wheeler Heights
in update
Wiley Park
in update
Willmot
in update
Willoughby East
in update
Windsor Downs
in update
Winston Hills
in update
Wisemans Ferry
in update
Wolli Creek
in update
Wollstonecraft
in update
Wombarra
in update
Woodpark
in update
Woollahra
in update
Woolloomooloo
in update
Woolooware
in update
Woolwich
in update
Woronora
in update
Woronora Heights
in update
Yagoona
in update
Yarrawarrah
in update
Yennora
in update
Yowie Bay
in update
Zetland
in update
Loop ended

In [247]:
#df_sydney_suburbs = df_sydney_suburbs.dropna()
#df_sydney_suburbs.reset_index(drop=True)
df_sydney_suburbs.head()

           Suburb SSC_CODE_2016  Tot_P_M  Area sqkm      lat     long
0      Abbotsbury      SSC10002     2076     4.9788 -33.8693  150.867
2  Acacia Gardens      SSC10014     1898     1.0013 -33.7325  150.913
3     Agnes Banks      SSC10021      472    15.4750 -33.6145  150.711
4           Airds      SSC10022     1333     2.3808   -34.09  150.826
5      Alexandria      SSC10030     4214     3.5156 -33.9092  151.192

In [248]:
df_sydney_suburbs.tail()

          Suburb SSC_CODE_2016  Tot_P_M  Area sqkm      lat     long
664      Yagoona      SSC14453     8999     4.6180 -33.9038  151.018
665  Yarrawarrah      SSC14485     1334     1.2438 -34.0567  151.031
666      Yennora      SSC14506      804     2.7387  -33.862  150.969
667    Yowie Bay      SSC14519     1497     1.2045 -34.0503  151.103
668      Zetland      SSC14524     5027     0.8048 -33.9077  151.208

In [249]:
df_sydney_suburbs = df_sydney_suburbs.assign(latte = "")

In [250]:
df_sydney_suburbs.head()

           Suburb SSC_CODE_2016  Tot_P_M  Area sqkm      lat     long latte
0      Abbotsbury      SSC10002     2076     4.9788 -33.8693  150.867
2  Acacia Gardens      SSC10014     1898     1.0013 -33.7325  150.913
3     Agnes Banks      SSC10021      472    15.4750 -33.6145  150.711
4           Airds      SSC10022     1333     2.3808   -34.09  150.826
5      Alexandria      SSC10030     4214     3.5156 -33.9092  151.192

In [251]:
df_sydney_suburbs.tail()

          Suburb SSC_CODE_2016  Tot_P_M  Area sqkm      lat     long latte
664      Yagoona      SSC14453     8999     4.6180 -33.9038  151.018
665  Yarrawarrah      SSC14485     1334     1.2438 -34.0567  151.031
666      Yennora      SSC14506      804     2.7387  -33.862  150.969
667    Yowie Bay      SSC14519     1497     1.2045 -34.0503  151.103
668      Zetland      SSC14524     5027     0.8048 -33.9077  151.208

In [252]:
df_sydney_suburbs = df_sydney_suburbs.dropna()
df_sydney_suburbs.reset_index(drop=True)

,Suburb,SSC_CODE_2016,Tot_P_M,Area sqkm,lat,long,latte
0,Abbotsbury,SSC10002,2076,4.9788,-33.8693,150.867,
1,Acacia Gardens,SSC10014,1898,1.0013,-33.7325,150.913,
2,Agnes Banks,SSC10021,472,15.4750,-33.6145,150.711,
3,Airds,SSC10022,1333,2.3808,-34.09,150.826,
4,Alexandria,SSC10030,4214,3.5156,-33.9092,151.192,
5,Alfords Point,SSC10031,1524,2.5665,-33.9839,151.024,
6,Allambie Heights,SSC10036,3404,6.6746,-33.7705,151.25,
7,Allawah,SSC10038,2857,0.5837,-31.9288,149.513,
8,Ambarvale,SSC10049,3598,2.8822,-34.0844,150.802,
9,Annangrove,SSC10062,724,10.2464,-33.6575,150.946,
10,Arncliffe,SSC10086,5307,2.9429,-33.9382,151.146,
11,Arndell Park,SSC10087,28,2.0008,-33.79,150.876,
12,Artarmon,SSC10090,4654,2.5348,-33.8094,151.186,
13,Ashbury,SSC10093,1654,1.0312,-33.9001,151.118,
14,Ashcroft,SSC10097,1753,1.1539,-33.915,150.901,
15,Asquith,SSC10103,1621,3.5017,-33.6872,151.111,
16,Austinmer,SSC10108,1241,3.3382,-34.3062,150.934,
17,Austral,SSC10109,1523,17.6607,-33.9283,150.808,
18,Avalon Beach,SSC10111,4830,5.1313,-33.6365,151.329,
19,Badgerys Creek,SSC10132,111,26.9810,-33.9042,150.72,
20,Balgowlah,SSC10153,3827,1.9590,-33.7944,151.261,
21,Balgowlah Heights,SSC10154,1625,1.6838,-33.8075,151.265,
22,Balmain,SSC10164,5019,1.5378,-33.8584,151.181,
23,Balmain East,SSC10165,952,0.3430,-33.8572,151.192,
24,Banksia,SSC10178,1674,0.9568,-33.9449,151.14,
25,Banksmeadow,SSC10179,10,3.5881,-33.9542,151.216,
26,Bankstown,SSC10180,15831,6.3927,-33.9172,151.034,
27,Bankstown Aerodrome,SSC10181,0,3.7302,-33.9235,150.99,
28,Barangaroo,SSC10191,104,0.2227,-33.8614,151.202,
29,Barden Ridge,SSC10193,2135,5.5991,-34.0312,151.011,
...,...,...,...,...,...,...,...
501,West Pennant Hills,SSC14249,8080,9.2916,-33.7478,151.035,
502,West Pymble,SSC14250,2573,3.6836,-33.7647,151.132,
503,West Ryde,SSC14251,6536,3.5660,-33.8094,151.086,
504,Westleigh,SSC14260,2188,3.8210,-33.715,151.068,
505,Westmead,SSC14261,8224,2.9448,-33.8076,150.988,
506,Wetherill Park,SSC14264,3035,11.2143,-33.8483,150.901,
507,Whalan,SSC14266,2877,2.4294,-33.7567,150.809,
508,Whale Beach,SSC14267,120,0.4973,-33.6097,151.331,
509,Wheeler Heights,SSC14268,1432,0.8520,-33.7287,151.281,
510,Wiley Park,SSC14293,5342,1.3622,-33.9231,151.068,
511,Willmot,SSC14302,1165,0.9148,-33.7247,150.794,
512,Willoughby East,SSC14304,919,0.5612,-33.7992,151.206,
513,Windsor Downs,SSC14326,625,7.5757,-33.6567,150.809,
514,Winston Hills,SSC14335,5655,4.7387,-33.7761,150.982,
515,Wisemans Ferry,SSC14344,103,13.4673,-33.3853,150.987,
516,Wolli Creek,SSC14353,3239,0.6614,-33.931,151.124,
517,Wollstonecraft,SSC14359,3855,1.2007,-33.8332,151.196,
518,Wombarra,SSC14363,426,1.6260,-34.2769,150.951,
519,Woodpark,SSC14390,754,0.3866,-33.7287,145.766,
520,Woollahra,SSC14404,3370,1.2307,-33.8618,151.273,
521,Woolloomooloo,SSC14406,2275,0.3722,-33.8719,151.219,
522,Woolooware,SSC14410,1934,1.8599,-34.0448,151.14,
523,Woolwich,SSC14412,383,0.6987,-33.8402,151.171,
524,Woronora,SSC14420,1116,1.8813,-34.1165,150.952,
525,Woronora Heights,SSC14422,1419,2.5994,-34.0344,151.027,
526,Yagoona,SSC14453,8999,4.6180,-33.9038,151.018,
527,Yarrawarrah,SSC14485,1334,1.2438,-34.0567,151.031,
528,Yennora,SSC14506,804,2.7387,-33.862,150.969,
529,Yowie Bay,SSC14519,1497,1.2045,-34.0503,151.103,
530,Zetland,SSC14524,5027,0.8048,-33.9077,151.208,

In [253]:
%%markdown
Now using the latte function let's assign the label to every record

Now using the latte function let's assign the label to every record

In [254]:
for i in range(0, len(df_sydney_suburbs)):
    print(df_sydney_suburbs.iat[i, 0])
    df_sydney_suburbs.iat[i, 6] = getLatte(float(df_sydney_suburbs.iat[i, 4]), float(df_sydney_suburbs.iat[i, 5]))

Abbotsbury
Acacia Gardens
Agnes Banks
Airds
Alexandria
Alfords Point
Allambie Heights
Allawah
Ambarvale
Annangrove
Arncliffe
Arndell Park
Artarmon
Ashbury
Ashcroft
Asquith
Austinmer
Austral
Avalon Beach
Badgerys Creek
Balgowlah
Balgowlah Heights
Balmain
Balmain East
Banksia
Banksmeadow
Bankstown
Bankstown Aerodrome
Barangaroo
Barden Ridge
Bardia
Bardwell Park
Bardwell Valley
Bass Hill
Baulkham Hills
Beacon Hill
Beaumont Hills
Beecroft
Belfield
Bella Vista
Bellevue Hill
Belmore
Belrose
Berala
Berkshire Park
Berowra
Berowra Creek
Berowra Heights
Berowra Waters
Berrilee
Beverley Park
Beverly Hills
Bexley
Bexley North
Bilgola Beach
Bilgola Plateau
Birchgrove
Birrong
Blackett
Blacktown
Blairmount
Blakehurst
Bligh Park
Bondi
Bondi Beach
Bondi Junction
Bonnet Bay
Bonnyrigg
Bonnyrigg Heights
Bossley Park
Botany
Bow Bowing
Breakfast Point
Bringelly
Bronte
Brookvale
Bundeena
Bungarribee
Burraneer
Burwood Heights
Busby
Cabramatta
Cabramatta West
Caddens
Cambridge Gardens
Cambridge Park
Camellia
Cammeray
Campsie
Canada Bay
Canley Heights
Canley Vale
Canoelands
Caringbah
Caringbah South
Carlingford
Carnes Hill
Carss Park
Cartwright
Castle Cove
Castlecrag
Castlereagh
Casula
Catherine Field
Cattai
Cecil Hills
Cecil Park
Chatswood
Chatswood West
Cherrybrook
Chester Hill
Chippendale
Chipping Norton
Chiswick
Chullora
Church Point
Claremont Meadows
Clareville
Claymore
Clemton Park
Clovelly
Coalcliff
Coasters Retreat
Cobbitty
Colebee
Coledale
Collaroy Plateau
Colyton
Concord
Concord West
Condell Park
Connells Point
Constitution Hill
Cottage Point
Cowan
Cranebrook
Cremorne Point
Cronulla
Curl Curl
Currans Hill
Daceyville
Dangar Island
Darkes Forest
Darling Point
Darlinghurst
Davidson
Dawes Point
Dean Park
Dee Why
Denham Court
Denistone
Denistone East
Denistone West
Dharruk
Dolans Bay
Dolls Point
Doonside
Double Bay
Dover Heights
Drummoyne
Duffys Forest
Dulwich Hill
Dundas Valley
Eagle Vale
Earlwood
East Hills
East Killara
East Lindfield
East Ryde
Eastern Creek
Eastgardens
Eastlakes
Edensor Park
Edgecliff
Edmondson Park
Elanora Heights
Elizabeth Bay
Elizabeth Hills
Elvina Bay
Emerton
Engadine
Englorie Park
Ermington
Erskine Park
Erskineville
Eschol Park
Eveleigh
Fairfield East
Fairfield Heights
Fairfield West
Fairlight
Fiddletown
Five Dock
Forest Lodge
Frenchs Forest
Galston
Georges Hall
Gilead
Gladesville
Gledswood Hills
Glen Alpine
Glendenning
Glenhaven
Glenmore Park
Glenorie
Grays Point
Great Mackerel Beach
Greenacre
Greenfield Park
Greenhills Beach
Greenwich
Gregory Hills
Greystanes
Guildford West
Gymea
Gymea Bay
Haberfield
Hammondville
Harrington Park
Harris Park
Hassall Grove
Haymarket
Hebersham
Heckenberg
Helensburgh
Henley
Hillsdale
Holroyd
Holsworthy
Homebush West
Horningsea Park
Hornsby
Hornsby Heights
Horsley Park
Hoxton Park
Hunters Hill
Huntingwood
Huntleys Cove
Huntleys Point
Hurlstone Park
Hurstville
Hurstville Grove
Illawong
Ingleburn
Ingleside
Jamisontown
Jannali
Jordan Springs
Kareela
Kearns
Kellyville
Kellyville Ridge
Kemps Creek
Kenthurst
Kentlyn
Killarney Heights
Kings Langley
Kingsgrove
Kirkham
Kirrawee
Kirribilli
Kogarah
Kogarah Bay
Ku-Ring-Gai Chase
Kurnell
Kurraba Point
Kyeemagh
Kyle Bay
La Perouse
Lakemba
Lalor Park
Lane Cove
Lane Cove North
Lane Cove West
Lansvale
Laughtondale
Lavender Bay
Leets Vale
Len Waters Estate
Leppington
Lethbridge Park
Leumeah
Liberty Grove
Lidcombe
Lilyfield
Lindfield
Linley Point
Little Bay
Liverpool
Llandilo
Loftus
Longueville
Lovett Bay
Lower Portland
Lucas Heights
Luddenham
Lugarno
Lurnea
Macquarie Fields
Macquarie Links
Macquarie Park
Maddens Plains
Maianbar
Malabar
Manly Vale
Maraylya
Marayong
Maroota
Maroubra
Marrickville
Marsden Park
Marsfield
Mascot
Matraville
Mays Hill
McGraths Hill
McMahons Point
Menai
Menangle Park
Merrylands
Merrylands West
Middle Cove
Middle Dural
Middleton Grange
Miller
Millers Point
Milperra
Milsons Passage
Milsons Point
Minchinbury
Minto
Minto Heights
Mona Vale
Monterey
Moore Park
Moorebank
Morning Bay
Mortdale
Mosman
Mount Annan
Mount Colah
Mount Druitt
Mount Kuring-Gai
Mount Lewis
Mount Pritchard
Mount Vernon
Mulgoa
Narellan
Narellan Vale
Naremburn
Narrabeen
Narraweena
Narwee
Neutral Bay
Normanhurst
North Balgowlah
North Bondi
North Curl Curl
North Epping
North Manly
North Narrabeen
North Parramatta
North Rocks
North Ryde
North St Marys
North Strathfield
North Sydney
North Turramurra
North Wahroonga
North Willoughby
Northmead
Oakville
Oatley
Old Guildford
Old Toongabbie
Oran Park
Orchard Hills
Otford
Oxford Falls
Oxley Park
Oyster Bay
Padstow
Padstow Heights
Pagewood
Panania
Parklea
Parramatta
Peakhurst
Peakhurst Heights
Pemulwuy
Pendle Hill
Pennant Hills
Penrith
Petersham
Phillip Bay
Picnic Point
Pitt Town
Pleasure Point
Point Piper
Port Botany
Port Hacking
Potts Hill
Potts Point
Prairiewood
Prestons
Putney
Pymble
Pyrmont
Quakers Hill
Raby
Ramsgate
Ramsgate Beach
Randwick
Redfern
Regentville
Revesby
Revesby Heights
Rhodes
Riverstone
Riverwood
Rockdale
Rodd Point
Rooty Hill
Ropes Crossing
Roselands
Rosemeadow
Roseville
Roseville Chase
Rouse Hill
Royal National Park
Rozelle
Ruse
Rushcutters Bay
Russell Lea
Rydalmere
Ryde
Sackville North
Sadleir
Sans Souci
Schofields
Scotland Island
Sefton
Shalvey
Shanes Park
Singletons Mill
Smeaton Grange
South Coogee
South Granville
South Hurstville
South Maroota
South Penrith
South Turramurra
South Wentworthville
South Windsor
St Helens Park
St Ives Chase
St Johns Park
Stanhope Gardens
Stanwell Park
Stanwell Tops
Strathfield South
Surry Hills
Sydney
Sydney Olympic Park
Sylvania
Sylvania Waters
Tamarama
Taren Point
Telopea
Tempe
Tennyson Point
Terrey Hills
The Ponds
Thirroul
Thornleigh
Tregear
Turramurra
Turrella
Ultimo
Varroville
Vaucluse
Villawood
Vineyard
Voyager Point
Wahroonga
Waitara
Wakeley
Wallacia
Wareemba
Warrawee
Warriewood
Warwick Farm
Waterfall
Watsons Bay
Waverton
Wentworth Point
Wentworthville
Werrington
Werrington County
Werrington Downs
West Hoxton
West Pennant Hills
West Pymble
West Ryde
Westleigh
Westmead
Wetherill Park
Whalan
Whale Beach
Wheeler Heights
Wiley Park
Willmot
Willoughby East
Windsor Downs
Winston Hills
Wisemans Ferry
Wolli Creek
Wollstonecraft
Wombarra
Woodpark
Woollahra
Woolloomooloo
Woolooware
Woolwich
Woronora
Woronora Heights
Yagoona
Yarrawarrah
Yennora
Yowie Bay
Zetland

In [255]:
df_sydney_suburbs

,Suburb,SSC_CODE_2016,Tot_P_M,Area sqkm,lat,long,latte
0,Abbotsbury,SSC10002,2076,4.9788,-33.8693,150.867,False
2,Acacia Gardens,SSC10014,1898,1.0013,-33.7325,150.913,True
3,Agnes Banks,SSC10021,472,15.4750,-33.6145,150.711,True
4,Airds,SSC10022,1333,2.3808,-34.09,150.826,False
5,Alexandria,SSC10030,4214,3.5156,-33.9092,151.192,True
6,Alfords Point,SSC10031,1524,2.5665,-33.9839,151.024,False
7,Allambie Heights,SSC10036,3404,6.6746,-33.7705,151.25,True
8,Allawah,SSC10038,2857,0.5837,-31.9288,149.513,True
9,Ambarvale,SSC10049,3598,2.8822,-34.0844,150.802,False
11,Annangrove,SSC10062,724,10.2464,-33.6575,150.946,True
13,Arncliffe,SSC10086,5307,2.9429,-33.9382,151.146,True
14,Arndell Park,SSC10087,28,2.0008,-33.79,150.876,False
15,Artarmon,SSC10090,4654,2.5348,-33.8094,151.186,True
16,Ashbury,SSC10093,1654,1.0312,-33.9001,151.118,True
17,Ashcroft,SSC10097,1753,1.1539,-33.915,150.901,False
19,Asquith,SSC10103,1621,3.5017,-33.6872,151.111,True
21,Austinmer,SSC10108,1241,3.3382,-34.3062,150.934,False
22,Austral,SSC10109,1523,17.6607,-33.9283,150.808,False
23,Avalon Beach,SSC10111,4830,5.1313,-33.6365,151.329,True
24,Badgerys Creek,SSC10132,111,26.9810,-33.9042,150.72,False
25,Balgowlah,SSC10153,3827,1.9590,-33.7944,151.261,True
26,Balgowlah Heights,SSC10154,1625,1.6838,-33.8075,151.265,True
27,Balmain,SSC10164,5019,1.5378,-33.8584,151.181,True
28,Balmain East,SSC10165,952,0.3430,-33.8572,151.192,True
30,Banksia,SSC10178,1674,0.9568,-33.9449,151.14,False
31,Banksmeadow,SSC10179,10,3.5881,-33.9542,151.216,True
32,Bankstown,SSC10180,15831,6.3927,-33.9172,151.034,False
33,Bankstown Aerodrome,SSC10181,0,3.7302,-33.9235,150.99,False
34,Barangaroo,SSC10191,104,0.2227,-33.8614,151.202,True
35,Barden Ridge,SSC10193,2135,5.5991,-34.0312,151.011,False
...,...,...,...,...,...,...,...
635,West Pennant Hills,SSC14249,8080,9.2916,-33.7478,151.035,True
636,West Pymble,SSC14250,2573,3.6836,-33.7647,151.132,True
637,West Ryde,SSC14251,6536,3.5660,-33.8094,151.086,True
638,Westleigh,SSC14260,2188,3.8210,-33.715,151.068,True
639,Westmead,SSC14261,8224,2.9448,-33.8076,150.988,True
640,Wetherill Park,SSC14264,3035,11.2143,-33.8483,150.901,False
641,Whalan,SSC14266,2877,2.4294,-33.7567,150.809,False
642,Whale Beach,SSC14267,120,0.4973,-33.6097,151.331,True
643,Wheeler Heights,SSC14268,1432,0.8520,-33.7287,151.281,True
644,Wiley Park,SSC14293,5342,1.3622,-33.9231,151.068,False
645,Willmot,SSC14302,1165,0.9148,-33.7247,150.794,False
647,Willoughby East,SSC14304,919,0.5612,-33.7992,151.206,True
649,Windsor Downs,SSC14326,625,7.5757,-33.6567,150.809,True
650,Winston Hills,SSC14335,5655,4.7387,-33.7761,150.982,True
651,Wisemans Ferry,SSC14344,103,13.4673,-33.3853,150.987,True
652,Wolli Creek,SSC14353,3239,0.6614,-33.931,151.124,False
653,Wollstonecraft,SSC14359,3855,1.2007,-33.8332,151.196,True
654,Wombarra,SSC14363,426,1.6260,-34.2769,150.951,False
657,Woodpark,SSC14390,754,0.3866,-33.7287,145.766,False
658,Woollahra,SSC14404,3370,1.2307,-33.8618,151.273,True
659,Woolloomooloo,SSC14406,2275,0.3722,-33.8719,151.219,True
660,Woolooware,SSC14410,1934,1.8599,-34.0448,151.14,False
661,Woolwich,SSC14412,383,0.6987,-33.8402,151.171,True
662,Woronora,SSC14420,1116,1.8813,-34.1165,150.952,False
663,Woronora Heights,SSC14422,1419,2.5994,-34.0344,151.027,False
664,Yagoona,SSC14453,8999,4.6180,-33.9038,151.018,False
665,Yarrawarrah,SSC14485,1334,1.2438,-34.0567,151.031,False
666,Yennora,SSC14506,804,2.7387,-33.862,150.969,False
667,Yowie Bay,SSC14519,1497,1.2045,-34.0503,151.103,False
668,Zetland,SSC14524,5027,0.8048,-33.9077,151.208,True

In [53]:
#df_sydney_suburbs = df_sydney_suburbs.dropna()
df_sydney_suburbs.reset_index(drop=True)

,Suburb,SSC_CODE_2016,Tot_P_M,Area sqkm,lat,long,latte
0,Abbotsbury,SSC10002,2076,4.9788,-33.8693,150.867,False
1,Acacia Gardens,SSC10014,1898,1.0013,-33.7325,150.913,True
2,Agnes Banks,SSC10021,472,15.4750,-33.6145,150.711,True
3,Airds,SSC10022,1333,2.3808,-34.09,150.826,False
4,Alexandria,SSC10030,4214,3.5156,-33.9092,151.192,True
5,Alfords Point,SSC10031,1524,2.5665,-33.9839,151.024,False
6,Allambie Heights,SSC10036,3404,6.6746,-33.7705,151.25,True
7,Allawah,SSC10038,2857,0.5837,-31.9288,149.513,True
8,Ambarvale,SSC10049,3598,2.8822,-34.0844,150.802,False
9,Annangrove,SSC10062,724,10.2464,-33.6575,150.946,True
10,Arncliffe,SSC10086,5307,2.9429,-33.9382,151.146,True
11,Arndell Park,SSC10087,28,2.0008,-33.79,150.876,False
12,Artarmon,SSC10090,4654,2.5348,-33.8094,151.186,True
13,Ashbury,SSC10093,1654,1.0312,-33.9001,151.118,True
14,Ashcroft,SSC10097,1753,1.1539,-33.915,150.901,False
15,Asquith,SSC10103,1621,3.5017,-33.6872,151.111,True
16,Austinmer,SSC10108,1241,3.3382,-34.3062,150.934,False
17,Austral,SSC10109,1523,17.6607,-33.9283,150.808,False
18,Avalon Beach,SSC10111,4830,5.1313,-33.6365,151.329,True
19,Badgerys Creek,SSC10132,111,26.9810,-33.9042,150.72,False
20,Balgowlah,SSC10153,3827,1.9590,-33.7944,151.261,True
21,Balgowlah Heights,SSC10154,1625,1.6838,-33.8075,151.265,True
22,Balmain,SSC10164,5019,1.5378,-33.8584,151.181,True
23,Balmain East,SSC10165,952,0.3430,-33.8572,151.192,True
24,Banksia,SSC10178,1674,0.9568,-33.9449,151.14,False
25,Banksmeadow,SSC10179,10,3.5881,-33.9542,151.216,True
26,Bankstown,SSC10180,15831,6.3927,-33.9172,151.034,False
27,Bankstown Aerodrome,SSC10181,0,3.7302,-33.9235,150.99,False
28,Barangaroo,SSC10191,104,0.2227,-33.8614,151.202,True
29,Barden Ridge,SSC10193,2135,5.5991,-34.0312,151.011,False
...,...,...,...,...,...,...,...
501,West Pennant Hills,SSC14249,8080,9.2916,-33.7478,151.035,True
502,West Pymble,SSC14250,2573,3.6836,-33.7647,151.132,True
503,West Ryde,SSC14251,6536,3.5660,-33.8094,151.086,True
504,Westleigh,SSC14260,2188,3.8210,-33.715,151.068,True
505,Westmead,SSC14261,8224,2.9448,-33.8076,150.988,True
506,Wetherill Park,SSC14264,3035,11.2143,-33.8483,150.901,False
507,Whalan,SSC14266,2877,2.4294,-33.7567,150.809,False
508,Whale Beach,SSC14267,120,0.4973,-33.6097,151.331,True
509,Wheeler Heights,SSC14268,1432,0.8520,-33.7287,151.281,True
510,Wiley Park,SSC14293,5342,1.3622,-33.9231,151.068,False
511,Willmot,SSC14302,1165,0.9148,-33.7247,150.794,False
512,Willoughby East,SSC14304,919,0.5612,-33.7992,151.206,True
513,Windsor Downs,SSC14326,625,7.5757,-33.6567,150.809,True
514,Winston Hills,SSC14335,5655,4.7387,-33.7761,150.982,True
515,Wisemans Ferry,SSC14344,103,13.4673,-33.3853,150.987,True
516,Wolli Creek,SSC14353,3239,0.6614,-33.931,151.124,False
517,Wollstonecraft,SSC14359,3855,1.2007,-33.8332,151.196,True
518,Wombarra,SSC14363,426,1.6260,-34.2769,150.951,False
519,Woodpark,SSC14390,754,0.3866,-33.7287,145.766,False
520,Woollahra,SSC14404,3370,1.2307,-33.8618,151.273,True
521,Woolloomooloo,SSC14406,2275,0.3722,-33.8719,151.219,True
522,Woolooware,SSC14410,1934,1.8599,-34.0448,151.14,False
523,Woolwich,SSC14412,383,0.6987,-33.8402,151.171,True
524,Woronora,SSC14420,1116,1.8813,-34.1165,150.952,False
525,Woronora Heights,SSC14422,1419,2.5994,-34.0344,151.027,False
526,Yagoona,SSC14453,8999,4.6180,-33.9038,151.018,False
527,Yarrawarrah,SSC14485,1334,1.2438,-34.0567,151.031,False
528,Yennora,SSC14506,804,2.7387,-33.862,150.969,False
529,Yowie Bay,SSC14519,1497,1.2045,-34.0503,151.103,False
530,Zetland,SSC14524,5027,0.8048,-33.9077,151.208,True

In [256]:
%%markdown
Calculating density for venue count normalisation

Calculating density for venue count normalisation

In [257]:

df_sydney_suburbs['density'] = df_sydney_suburbs['Tot_P_M']/df_sydney_suburbs['Area sqkm']

In [258]:
df_sydney_suburbs.head()

,Suburb,SSC_CODE_2016,Tot_P_M,Area sqkm,lat,long,latte,density
0,Abbotsbury,SSC10002,2076,4.9788,-33.8693,150.867,False,416.967944
2,Acacia Gardens,SSC10014,1898,1.0013,-33.7325,150.913,True,1895.535803
3,Agnes Banks,SSC10021,472,15.4750,-33.6145,150.711,True,30.500808
4,Airds,SSC10022,1333,2.3808,-34.09,150.826,False,559.895833
5,Alexandria,SSC10030,4214,3.5156,-33.9092,151.192,True,1198.657413

In [259]:
%%markdown
Now that we have 530 suburbs with population, area size, lat/long and latte label, we can assign venue data from Foursquare.

Now that we have 530 suburbs with population, area size, lat/long and latte label, we can assign venue data from Foursquare.

In [260]:
CLIENT_ID = 'TKRJ23UTGWHGB3O3DA0S3I03JC0LU5UIAFZULNCB33LRTBC4' # your Foursquare ID
CLIENT_SECRET = '015DRRTPU1ZNYXZGHAKR2UW22SYMSPRZI0OKOLZ2HQEST3FE' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

In [261]:
import requests

In [262]:
def getNearbyVenues(names, latitudes, longitudes, radius=500, LIMIT = 500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [264]:
sydney_venues = getNearbyVenues(names=df_sydney_suburbs['Suburb'],
                                   latitudes=df_sydney_suburbs['lat'],
                                   longitudes=df_sydney_suburbs['long']
                                  )

Abbotsbury
Acacia Gardens
Agnes Banks
Airds
Alexandria
Alfords Point
Allambie Heights
Allawah
Ambarvale
Annangrove
Arncliffe
Arndell Park
Artarmon
Ashbury
Ashcroft
Asquith
Austinmer
Austral
Avalon Beach
Badgerys Creek
Balgowlah
Balgowlah Heights
Balmain
Balmain East
Banksia
Banksmeadow
Bankstown
Bankstown Aerodrome
Barangaroo
Barden Ridge
Bardia
Bardwell Park
Bardwell Valley
Bass Hill
Baulkham Hills
Beacon Hill
Beaumont Hills
Beecroft
Belfield
Bella Vista
Bellevue Hill
Belmore
Belrose
Berala
Berkshire Park
Berowra
Berowra Creek
Berowra Heights
Berowra Waters
Berrilee
Beverley Park
Beverly Hills
Bexley
Bexley North
Bilgola Beach
Bilgola Plateau
Birchgrove
Birrong
Blackett
Blacktown
Blairmount
Blakehurst
Bligh Park
Bondi
Bondi Beach
Bondi Junction
Bonnet Bay
Bonnyrigg
Bonnyrigg Heights
Bossley Park
Botany
Bow Bowing
Breakfast Point
Bringelly
Bronte
Brookvale
Bundeena
Bungarribee
Burraneer
Burwood Heights
Busby
Cabramatta
Cabramatta West
Caddens
Cambridge Gardens
Cambridge Park
Camellia
Cammeray
Campsie
Canada Bay
Canley Heights
Canley Vale
Canoelands
Caringbah
Caringbah South
Carlingford
Carnes Hill
Carss Park
Cartwright
Castle Cove
Castlecrag
Castlereagh
Casula
Catherine Field
Cattai
Cecil Hills
Cecil Park
Chatswood
Chatswood West
Cherrybrook
Chester Hill
Chippendale
Chipping Norton
Chiswick
Chullora
Church Point
Claremont Meadows
Clareville
Claymore
Clemton Park
Clovelly
Coalcliff
Coasters Retreat
Cobbitty
Colebee
Coledale
Collaroy Plateau
Colyton
Concord
Concord West
Condell Park
Connells Point
Constitution Hill
Cottage Point
Cowan
Cranebrook
Cremorne Point
Cronulla
Curl Curl
Currans Hill
Daceyville
Dangar Island
Darkes Forest
Darling Point
Darlinghurst
Davidson
Dawes Point
Dean Park
Dee Why
Denham Court
Denistone
Denistone East
Denistone West
Dharruk
Dolans Bay
Dolls Point
Doonside
Double Bay
Dover Heights
Drummoyne
Duffys Forest
Dulwich Hill
Dundas Valley
Eagle Vale
Earlwood
East Hills
East Killara
East Lindfield
East Ryde
Eastern Creek
Eastgardens
Eastlakes
Edensor Park
Edgecliff
Edmondson Park
Elanora Heights
Elizabeth Bay
Elizabeth Hills
Elvina Bay
Emerton
Engadine
Englorie Park
Ermington
Erskine Park
Erskineville
Eschol Park
Eveleigh
Fairfield East
Fairfield Heights
Fairfield West
Fairlight
Fiddletown
Five Dock
Forest Lodge
Frenchs Forest
Galston
Georges Hall
Gilead
Gladesville
Gledswood Hills
Glen Alpine
Glendenning
Glenhaven
Glenmore Park
Glenorie
Grays Point
Great Mackerel Beach
Greenacre
Greenfield Park
Greenhills Beach
Greenwich
Gregory Hills
Greystanes
Guildford West
Gymea
Gymea Bay
Haberfield
Hammondville
Harrington Park
Harris Park
Hassall Grove
Haymarket
Hebersham
Heckenberg
Helensburgh
Henley
Hillsdale
Holroyd
Holsworthy
Homebush West
Horningsea Park
Hornsby
Hornsby Heights
Horsley Park
Hoxton Park
Hunters Hill
Huntingwood
Huntleys Cove
Huntleys Point
Hurlstone Park
Hurstville
Hurstville Grove
Illawong
Ingleburn
Ingleside
Jamisontown
Jannali
Jordan Springs
Kareela
Kearns
Kellyville
Kellyville Ridge
Kemps Creek
Kenthurst
Kentlyn
Killarney Heights
Kings Langley
Kingsgrove
Kirkham
Kirrawee
Kirribilli
Kogarah
Kogarah Bay
Ku-Ring-Gai Chase
Kurnell
Kurraba Point
Kyeemagh
Kyle Bay
La Perouse
Lakemba
Lalor Park
Lane Cove
Lane Cove North
Lane Cove West
Lansvale
Laughtondale
Lavender Bay
Leets Vale
Len Waters Estate
Leppington
Lethbridge Park
Leumeah
Liberty Grove
Lidcombe
Lilyfield
Lindfield
Linley Point
Little Bay
Liverpool
Llandilo
Loftus
Longueville
Lovett Bay
Lower Portland
Lucas Heights
Luddenham
Lugarno
Lurnea
Macquarie Fields
Macquarie Links
Macquarie Park
Maddens Plains
Maianbar
Malabar
Manly Vale
Maraylya
Marayong
Maroota
Maroubra
Marrickville
Marsden Park
Marsfield
Mascot
Matraville
Mays Hill
McGraths Hill
McMahons Point
Menai
Menangle Park
Merrylands
Merrylands West
Middle Cove
Middle Dural
Middleton Grange
Miller
Millers Point
Milperra
Milsons Passage
Milsons Point
Minchinbury
Minto
Minto Heights
Mona Vale
Monterey
Moore Park
Moorebank
Morning Bay
Mortdale
Mosman
Mount Annan
Mount Colah
Mount Druitt
Mount Kuring-Gai
Mount Lewis
Mount Pritchard
Mount Vernon
Mulgoa
Narellan
Narellan Vale
Naremburn
Narrabeen
Narraweena
Narwee
Neutral Bay
Normanhurst
North Balgowlah
North Bondi
North Curl Curl
North Epping
North Manly
North Narrabeen
North Parramatta
North Rocks
North Ryde
North St Marys
North Strathfield
North Sydney
North Turramurra
North Wahroonga
North Willoughby
Northmead
Oakville
Oatley
Old Guildford
Old Toongabbie
Oran Park
Orchard Hills
Otford
Oxford Falls
Oxley Park
Oyster Bay
Padstow
Padstow Heights
Pagewood
Panania
Parklea
Parramatta
Peakhurst
Peakhurst Heights
Pemulwuy
Pendle Hill
Pennant Hills
Penrith
Petersham
Phillip Bay
Picnic Point
Pitt Town
Pleasure Point
Point Piper
Port Botany
Port Hacking
Potts Hill
Potts Point
Prairiewood
Prestons
Putney
Pymble
Pyrmont
Quakers Hill
Raby
Ramsgate
Ramsgate Beach
Randwick
Redfern
Regentville
Revesby
Revesby Heights
Rhodes
Riverstone
Riverwood
Rockdale
Rodd Point
Rooty Hill
Ropes Crossing
Roselands
Rosemeadow
Roseville
Roseville Chase
Rouse Hill
Royal National Park
Rozelle
Ruse
Rushcutters Bay
Russell Lea
Rydalmere
Ryde
Sackville North
Sadleir
Sans Souci
Schofields
Scotland Island
Sefton
Shalvey
Shanes Park
Singletons Mill
Smeaton Grange
South Coogee
South Granville
South Hurstville
South Maroota
South Penrith
South Turramurra
South Wentworthville
South Windsor
St Helens Park
St Ives Chase
St Johns Park
Stanhope Gardens
Stanwell Park
Stanwell Tops
Strathfield South
Surry Hills
Sydney
Sydney Olympic Park
Sylvania
Sylvania Waters
Tamarama
Taren Point
Telopea
Tempe
Tennyson Point
Terrey Hills
The Ponds
Thirroul
Thornleigh
Tregear
Turramurra
Turrella
Ultimo
Varroville
Vaucluse
Villawood
Vineyard
Voyager Point
Wahroonga
Waitara
Wakeley
Wallacia
Wareemba
Warrawee
Warriewood
Warwick Farm
Waterfall
Watsons Bay
Waverton
Wentworth Point
Wentworthville
Werrington
Werrington County
Werrington Downs
West Hoxton
West Pennant Hills
West Pymble
West Ryde
Westleigh
Westmead
Wetherill Park
Whalan
Whale Beach
Wheeler Heights
Wiley Park
Willmot
Willoughby East
Windsor Downs
Winston Hills
Wisemans Ferry
Wolli Creek
Wollstonecraft
Wombarra
Woodpark
Woollahra
Woolloomooloo
Woolooware
Woolwich
Woronora
Woronora Heights
Yagoona
Yarrawarrah
Yennora
Yowie Bay
Zetland

In [265]:
print(sydney_venues.shape)
sydney_venues.head()

(4361, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Abbotsbury,-33.869285,150.866703,Foodworks,-33.869191,150.865388,Supermarket
1,Abbotsbury,-33.869285,150.866703,Abbotsbury Shops,-33.869554,150.865294,Convenience Store
2,Abbotsbury,-33.869285,150.866703,Stockdale Reserve,-33.871098,150.868060,Park
3,Abbotsbury,-33.869285,150.866703,817 bus stop,-33.869773,150.870122,Bus Station
4,Alexandria,-33.909157,151.192128,The Grounds Of Alexandria,-33.910774,151.194406,CafÃ©

In [266]:
%%markdown
Grouping the venues based on their type, getting the count of specific venue types for each suburb

Grouping the venues based on their type, getting the count of specific venue types for each suburb

In [267]:
typecount = sydney_venues.groupby(['Neighborhood', 'Venue Category']).size()
type(typecount)
venue_count = pd.DataFrame(typecount).reset_index()
venue_count.head()

  Neighborhood         Venue Category  0
0   Abbotsbury            Bus Station  1
1   Abbotsbury      Convenience Store  1
2   Abbotsbury                   Park  1
3   Abbotsbury            Supermarket  1
4   Alexandria  Australian Restaurant  1

In [268]:
venue_count.columns = ['Suburb', 'venue_cat', 'venue_count']
venue_count.head()

       Suburb              venue_cat  venue_count
0  Abbotsbury            Bus Station            1
1  Abbotsbury      Convenience Store            1
2  Abbotsbury                   Park            1
3  Abbotsbury            Supermarket            1
4  Alexandria  Australian Restaurant            1

In [269]:
%%markdown
Let's transpose the dataframe to reflect the number of venue type counts per suburb.
The initial stub will be the first suburb's name, and a simple algorithm will process the original table to add the new records.

Let's transpose the dataframe to reflect the number of venue type counts per suburb.
The initial stub will be the first suburb's name, and a simple algorithm will process the original table to add the new records.

In [270]:
venue_tr = venue_count.head(1)[['Suburb']]
venue_tr

       Suburb
0  Abbotsbury

In [271]:
current_sub = venue_tr.iat[0, 0]
tr_index = 0
for i in range(0, len(venue_count)):
    # check if suburb is the same as last, if not, add new row and set the value of the suburb
    if (venue_count.iat[i, 0] != current_sub):
        venue_tr = venue_tr.append(pd.Series([np.nan]), ignore_index = True)
        tr_index += 1
        current_sub = venue_count.iat[i, 0]
        venue_tr.iat[tr_index, 0] = current_sub
    # check if the new matrix already has a column for the venue type, if not, add it
    if str(venue_count.iat[i, 1]) not in venue_tr:
        venue_tr[str(venue_count.iat[i, 1])] = "0"
        #print(str(venue_count.iat[i, 1]))
    # update count of venue type
    column_index = venue_tr.columns.get_loc(str(venue_count.iat[i, 1]))
    venue_tr.iat[tr_index, column_index] = venue_count.iat[i, 2]
del venue_tr[0]
venue_tr = venue_tr.fillna(0)

In [272]:
df_labeler = df_sydney_suburbs[['Suburb', 'latte', 'density']]
df_labeler.head()

           Suburb  latte      density
0      Abbotsbury  False   416.967944
2  Acacia Gardens   True  1895.535803
3     Agnes Banks   True    30.500808
4           Airds  False   559.895833
5      Alexandria   True  1198.657413

In [273]:
df_labeled_venue_set = venue_tr.join(df_labeler.set_index('Suburb'), on='Suburb', how='inner')
df_labeled_venue_set.head()

,Suburb,Bus Station,Convenience Store,Park,Supermarket,Australian Restaurant,Bar,Basketball Court,CafÃ©,Flea Market,...,Port,Tailor Shop,Building,Antique Shop,Bagel Shop,Grilled Meat Restaurant,Sri Lankan Restaurant,Tunnel,latte,density
0,Abbotsbury,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,416.967944
1,Alexandria,0,0,0,0,1,1,1,5,1,...,0,0,0,0,0,0,0,0,True,1198.657413
2,Alfords Point,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,593.804793
3,Allambie Heights,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,True,509.993108
4,Ambarvale,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,1248.351953

In [274]:
for i in range (0, len(df_labeled_venue_set)):
    for col_name in list(df_labeled_venue_set):
        if (col_name != 'Suburb' and col_name !='latte' and col_name !='density'):
            density = float(df_labeled_venue_set.iat[i, df_labeled_venue_set.columns.get_loc('density')])
            if (density > 0):
                new_val = float(df_labeled_venue_set.iat[i, df_labeled_venue_set.columns.get_loc(col_name)]) * 1000 / density
                df_labeled_venue_set.iat[i, df_labeled_venue_set.columns.get_loc(col_name)] = new_val

In [275]:
df_labeled_venue_set.head()

,Suburb,Bus Station,Convenience Store,Park,Supermarket,Australian Restaurant,Bar,Basketball Court,CafÃ©,Flea Market,...,Port,Tailor Shop,Building,Antique Shop,Bagel Shop,Grilled Meat Restaurant,Sri Lankan Restaurant,Tunnel,latte,density
0,Abbotsbury,2,2,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,416.967944
1,Alexandria,0,0,0,0,0.834267,0.834267,0.834267,4.17133,0.834267,...,0,0,0,0,0,0,0,0,True,1198.657413
2,Alfords Point,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,593.804793
3,Allambie Heights,0,0,0,0,0,0,0,1.96081,0,...,0,0,0,0,0,0,0,0,True,509.993108
4,Ambarvale,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,1248.351953

In [276]:
%%markdown
Now prepare our sets for machine learning

Now prepare our sets for machine learning

In [277]:
df_labeled_venue_set.head()

,Suburb,Bus Station,Convenience Store,Park,Supermarket,Australian Restaurant,Bar,Basketball Court,CafÃ©,Flea Market,...,Port,Tailor Shop,Building,Antique Shop,Bagel Shop,Grilled Meat Restaurant,Sri Lankan Restaurant,Tunnel,latte,density
0,Abbotsbury,2,2,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,416.967944
1,Alexandria,0,0,0,0,0.834267,0.834267,0.834267,4.17133,0.834267,...,0,0,0,0,0,0,0,0,True,1198.657413
2,Alfords Point,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,593.804793
3,Allambie Heights,0,0,0,0,0,0,0,1.96081,0,...,0,0,0,0,0,0,0,0,True,509.993108
4,Ambarvale,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,1248.351953

In [278]:
%%markdown
Creating X, the independend variables and y the dependent variable

Creating X, the independend variables and y the dependent variable

In [279]:
X = df_labeled_venue_set.copy()
del X['Suburb']
del X['latte']
del X['density']
df_labeled_venue_set["latte"] = pd.to_numeric(df_labeled_venue_set["latte"])
y = df_labeled_venue_set['latte'].values

In [280]:
%%markdown
Normalizing the dataset

Normalizing the dataset

In [281]:
from sklearn import preprocessing
X= preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DataConversionWarning: Data with input dtype int64, object were all converted to float64 by StandardScaler.
  from ipykernel import kernelapp as app

array([[ 4.68537981,  1.26087956, -0.01574635, ..., -0.0469841 ,
        -0.0469841 , -0.0469841 ],
       [-0.10552657, -0.07815979, -0.07929162, ..., -0.0469841 ,
        -0.0469841 , -0.0469841 ],
       [-0.10552657, -0.07815979, -0.07929162, ..., -0.0469841 ,
        -0.0469841 , -0.0469841 ],
       [-0.10552657, -0.07815979, -0.07929162, ..., -0.0469841 ,
        -0.0469841 , -0.0469841 ],
       [-0.10552657, -0.07815979, -0.07929162, ..., -0.0469841 ,
        -0.0469841 , -0.0469841 ]])

In [283]:
%%markdown
Split the data to train and test sets

Split the data to train and test sets

In [308]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.25, random_state=3)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (340, 313) (340,)
Test set: (114, 313) (114,)

In [309]:
X_train[0:5]

array([[ 2.28992662, -0.07815979, -0.07929162, ..., -0.0469841 ,
        -0.0469841 , -0.0469841 ],
       [-0.10552657, -0.07815979, -0.07929162, ..., -0.0469841 ,
        -0.0469841 , -0.0469841 ],
       [-0.10552657, -0.07815979, -0.07929162, ..., -0.0469841 ,
        -0.0469841 , -0.0469841 ],
       [-0.10552657, -0.07815979, -0.07929162, ..., -0.0469841 ,
        -0.0469841 , -0.0469841 ],
       [-0.10552657, -0.07815979, -0.07929162, ..., -0.0469841 ,
        -0.0469841 , -0.0469841 ]])

In [310]:
y[0:5]

array([False,  True, False,  True, False])

In [311]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier

In [312]:
%%markdown
### Training with KNeighborsClassifier

### Training with KNeighborsClassifier

In [313]:
#from sklearn.neighbors import KNeighborsClassifier
k = 8
#Train Model and Predict  
neigh = KNeighborsClassifier(n_neighbors = k).fit(X_train,y_train)
neigh

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=8, p=2,
           weights='uniform')

In [314]:
yhat = neigh.predict(X_test)
yhat
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(X_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.6411764705882353
Test set Accuracy:  0.47368421052631576

In [315]:
Ks = 15
mean_acc = np.zeros((Ks-1))
std_acc = np.zeros((Ks-1))
ConfustionMx = [];
for n in range(1,Ks):
    
    #Train Model and Predict  
    neigh = KNeighborsClassifier(n_neighbors = n).fit(X_train,y_train)
    yhat=neigh.predict(X_test)
    #mean_acc[n-1] = metrics.accuracy_score(y_test, yhat)
    mean_acc[n-1]=np.mean(yhat==y_test);
    
    std_acc[n-1]=np.std(yhat==y_test)/np.sqrt(yhat.shape[0])

mean_acc

array([0.53508772, 0.44736842, 0.57894737, 0.48245614, 0.55263158,
       0.51754386, 0.54385965, 0.47368421, 0.51754386, 0.5       ,
       0.5877193 , 0.51754386, 0.57894737, 0.52631579])

In [316]:
%%markdown
Our best score, 0.5877193, slightly better than randomly labeling - failed.

### Test with DecisionTreeClassifier

Our best score, 0.5877193, slightly better than randomly labeling - failed.

### Test with DecisionTreeClassifier

In [317]:
from sklearn.tree import DecisionTreeClassifier
dTree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
dTree # it shows the default parameters

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [318]:
dTree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [319]:
pTree = dTree.predict(X_test)
print (pTree [0:5])
print (y_test [0:5])

[ True  True  True  True  True]
[False False  True  True False]

In [320]:
from sklearn import metrics
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_test, pTree))

DecisionTrees's Accuracy:  0.631578947368421

In [321]:
%%markdown
Another poor result

### Next is SVM

Another poor result

### Next is SVM

In [322]:
from sklearn import svm
clf = svm.SVC()
clf.fit(X_train, y_train)

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [323]:
yhat = clf.predict(X_test)
yhat

array([ True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

In [324]:
print("SVM's Accuracy: ", metrics.accuracy_score(y_test, yhat))

SVM's Accuracy:  0.6140350877192983

In [325]:
%%markdown
SVM failed as well

### LogisticRegression

SVM failed as well

### LogisticRegression

In [326]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [327]:
yhatl = LR.predict(X_test)
yhatl

array([False, False,  True,  True, False, False, False, False, False,
        True,  True, False, False, False,  True,  True,  True,  True,
       False, False,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True, False,  True, False,  True,  True, False,
       False, False, False, False, False, False,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True, False, False,
        True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True, False,  True,  True,  True, False, False,  True,
       False,  True, False, False, False,  True,  True,  True, False,
       False, False,  True,  True, False, False,  True,  True,  True,
       False, False, False, False, False,  True, False, False,  True,
        True, False,  True,  True,  True, False, False, False, False,
        True,  True, False, False, False,  True])

In [328]:
print("LG's Accuracy: ", metrics.accuracy_score(y_test, yhatl))

LG's Accuracy:  0.5350877192982456

In [329]:
%%markdown
Logistic regression worked with low accuracy.

## Conclusion

Logistic regression worked with low accuracy.

## Conclusion

In [330]:
%%markdown

Foursquare data, at least with the approach taken, could not support major lifestyle difference on the 2 sides of the 'latte line'.

Potential reasons:
    - data was too sparse for the chosen geographical granularity. It is possible that on local government level (where each unit comprises 5-10 suburbs) Foursquare data would have been more cohrent.
    - the latte line in reality is more of a zig-zag, with pockets of posperous and less covetable zones on both sides.
    - perhaps the latte line is not a matter of life style, or venues or their presence on Foursquare does not determin life style.
    - the difference may exists but too much toned for our simple exercise, a combination of further data sets would be advantageous.


Due to Watson free tier limitations the story ends here.

Foursquare data, at least with the approach taken, could not support major lifestyle difference on the 2 sides of the 'latte line'.

Potential reasons:
    - data was too sparse for the chosen geographical granularity. It is possible that on local government level (where each unit comprises 5-10 suburbs) Foursquare data would have been more cohrent.
    - the latte line in reality is more of a zig-zag, with pockets of posperous and less covetable zones on both sides.
    - perhaps the latte line is not a matter of life style, or venues or their presence on Foursquare does not determin life style.
    - the difference may exists but too much toned for our simple exercise, a combination of further data sets would be advantageous.


Due to Watson free tier limitations the story ends here.